$bggris:#c7c7c7;
$bgblanc:#ecedef;
$header:#f6aa23; //#f6aa23; //
$black : rgb(24, 24, 24);
$noirclair : #373737;


@font-face {
  font-family: 'VivelaRivoluzione';
  src: url('../fonts/VivelaRivoluzione.ttf') format('truetype');
  font-weight: normal;
  font-style: normal; }

@import url(http://fonts.googleapis.com/css?family=Dosis:400,200,300,500,600,700,800);
@import url(http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:400,300,200,700);

/*************************
*******Typography******
**************************/
* {
  outline: none !important;
}

.nopdl{
  padding-left: 0!important;
}

body {
  //font-family: "Courier New", sans-serif;
  //font-size: 14px;
  font-family: 'Dosis', sans-serif;
  font-size: 17px;
  color: #fff
}


.btn {
  border-radius: 0;
  font-family: 'Yanone Kaffeesatz','sans-serif';
  font-size: 20px;
  padding: 9px 23px;
}

a {
  -webkit-transition: 300ms;
  -moz-transition: 300ms;
  -o-transition: 300ms;
  transition: 300ms;
}

a:focus,
a:hover {
  text-decoration: none;
  outline: none
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Yanone Kaffeesatz','sans-serif';
  font-weight: 300;
  text-transform: uppercase;
}

h2 {
  font-size: 36px
}

.navbar-toggle {
  margin-top: 12px
}

.navbar-toggle .icon-bar {
  background-color: #fff;
}

.navbar-toggle,
.navbar-toggle:focus {
  border:1px solid #fff;
  outline: none;
}

.guitar, .old{
  position: absolute;
  right: 0;
  top: 0;
}

.guitarImg , .oldImg{
  max-width: 100%;
}

.front{
  z-index: 99;
}

/*************************
*******Header CSS******
**************************/

.header-top {
  display: block;
  overflow: hidden;
  padding: 25px;
}

.main-nav {
  position: absolute;
  width: 100%;
  z-index: 999;
}

.container {
  width: 100%;
  padding-left: 5%;
  padding-right: 5%;
}

.social-icons a {
  font-size: 18px;
  color: #fff;
  padding-left:20px;
}

.social-icons a:hover .fa-facebook{
  color: #3B5997
}

.social-icons a:hover .fa-instagram{
  color: #ec5675
}

.navbar-brand {
  background-color: $header;
  height: 90px;
  margin-bottom: 20px;
  position: relative;
  width: 325px;
  display: none;
}

.navbar-brand img {
  position: absolute;
  top: -22px;
}

.navbar-right {
  background-color: $header;
  padding:0 95px 0 0;
  opacity: .9
}

.navbar-right li a {
  padding: 35px 21px;
  font-size: 22px;
  color: #fff;
  text-transform: uppercase;
  font-family: 'Yanone Kaffeesatz', 'sans-serif';
  font-weight: 300;
}

.navbar-right li a:hover,
.navbar-right li a:focus,
.navbar-right .active a {
  background-color: #fff;
  color: $header;
}


.fixed-menu {
  background-color: $header;
  position: fixed;
  top: 0;
  z-index: 99999;
}

.fixed-menu .navbar-right {
  padding: 0;
}


.fixed-menu .navbar-right li a {
  font-size: 18px;
  padding: 20px 25px;
  text-shadow:inherit;
}

.fixed-menu .navbar-brand {
  height: 60px;
  margin-top: 0;
  padding: 0;
  margin-bottom: 0;
  width: 125px;
}

.fixed-menu .navbar-brand img {
  height:60px;
  top: 0;
  left: 10px;
}

.fixed-menu .header-top {
  display: none;
}



/*************************
*******Home CSS******
**************************/

.logo-slider{
  opacity: 0.9;
  height: auto;
  max-width: 100% !important;
  //width: 100%;
}

.headerContent .headerText .titleWrapper .image-header img {
  max-width: 700px !important;
  height: auto;
  width: 100%;
}

.headerContent {
  background: url("../img/slider/bg5.jpg") no-repeat top;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 2;
}

.headerContent .headerText {
  display: table;
  width: 100%;
  height: 100%;
}

.headerContent .headerText .titleWrapper {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

#home {
  position: relative;
  overflow: hidden;
  height: 800px;
}

/*************************
*******Explore CSS******
**************************/

#explore {
  background-color: $bgblanc;
  background-position: center bottom;
  background-size: contain;
  background-repeat:no-repeat;
  color: $noirclair;
  position: relative;
  overflow: hidden;
  padding: 130px 0 100px;
}

#explore h2 {
  font-size: 42px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 30px;
}

#explore h1.titre {
  font-family: 'VivelaRivoluzione';
  text-align: center;
  font-size: 6em;
  margin-bottom: 6%;
}

#explore p {
  text-align: justify;
}


/*************************
*******Event CSS******
**************************/

#team {
  background-color: $bggris;
  background-position: 50% 0;
  background-size: contain;
  position: relative;
  background-repeat: no-repeat;

  .rowTeam {
    z-index: 999;
  }

  h2 {
    color: $black;
    font-size: 36px;
    font-weight: 300;
    margin-bottom: 40px;
    margin-top: 70px;
    text-transform: uppercase;
    text-align: center;
  }

  .single-event h4 {
    color: $black;
    font-size: 24px;
    font-weight: 500;
    line-height: 26px;
    margin-top: 25px;
    text-transform: uppercase;
  }

  .single-event h5 {
    color: $black;
    font-size: 18px;
    font-weight: 400;
    display: block;
  }

  .single-event {
    margin-bottom: 70px;
  }

  .single-event img {
    width: 262px;
    height: 231px;
    box-shadow: 0 0 15px 0 #0d0d0f;
  }
}

/*************************
******concert CSS****
**************************/

#concert {
  background-color: $bggris;
  background-position: center bottom;
  background-size: contain;
  background-repeat:no-repeat;
  color: $noirclair;
  position: relative;
  overflow: hidden;
  padding: 4% 9% 4% 9%;

  .rowConcert {
    z-index: 999;
  }

  table.concerts{
    td {
      border-top: 1px solid #E9E9E9;
      padding: 20px 4px;
      height: 36px;
    }
    th {
      padding: 20px 4px;
      height: 36px;
    }
    .infos{
      color: $noirclair;
      font-weight: bold;
    }
  }
}

#concert h2 {
  font-size: 42px;
  text-transform: uppercase;
  text-align: center;
}

#concert p {
  text-align: justify;
}

/*************************
******galerie CSS****
**************************/

a[href="http://www.wonderplugin.com/wordpress-gridgallery/"], a[href="http://www.wonderplugin.com/wordpress-gallery/"] > div{
  display: none !important;
  top: -20px !important;
}

#galerie {
  background-color: $bgblanc;
  background-position: center bottom;
  background-size: contain;
  background-repeat: no-repeat;
  color: $noirclair;
  position: relative;
  overflow: hidden;
  padding: 4% 25% 7% 25%;

  h2 {
    color: $noirclair;
    font-size: 42px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 50px;
  }
  p {
    text-align: justify;
  }
}

#wonderplugingridgallery-1 .wonderplugin-gridgallery-loadmore-btn {
  font-family: 'Yanone Kaffeesatz', 'sans-serif';
  background: #373737 !important;
  color: #f6aa23 !important;
  text-shadow: none !important;

  &:hover {
    background: #212020 !important;
    color: #fff !important;
    text-shadow: none !important;
  }
}

.galerie_link {
  text-transform: uppercase;
  text-align: right;
  margin-top: 30px;

  h3{
    font-size: 24px;
    color: darken($header, 5);
    cursor: pointer;
  }

  #toggleGalerie:hover {
    color: $header;
  }
  #toggleGalerie:hover i {
    margin-left: 35px
  }
  #toggleGalerie i {
    margin-left: 15px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
}


/*************************
******Music CSS****
**************************/

#music {
  background-color: $bgblanc;
  background-position:50% 0;
  background-size: cover;
  background-repeat:no-repeat;
  position: relative;
  color: $noirclair;
}

#music h2#album {
  margin-top: 90px;
  margin-bottom: 40px;
  text-align: center;
}

.img-center{
  display: block;
  margin: 0 auto;
}

/*************************
******Contact CSS****
**************************/

.contact-section {
  background-color: $bggris;
  background-position:60% 0;
  background-size:contain;
  background-repeat:no-repeat;
  position: relative;
  overflow: hidden;
}

.ear-piece {
  position: absolute;
  left: 0;
  top: 0;
}

#contact .container {
  padding-top:47px;
}

#contact h2 {
  text-transform:inherit;
  color: #373737;
}

#contact-section h2 {
  margin-bottom: 25px
}

#contact address {
  font-size: 18px;
  color: $noirclair;
}

.contact-text {
  margin-bottom: 35px;
  display: block;
}


#contact-section .form-control {
  &:focus {
    border-color: $header;
  }
  outline: 0 none;
  color: #797979;
  font-size: 18px;
  border-radius: 0;
  border-color: #ccc;
  border-width: 0 0 2px 0;
  border-style: none none solid none;
  box-shadow: none;
}

#contact-section .form-control:focus {
  box-shadow: none;
  border-color: $header;
}

.form-control:focus {

}

.form-control {

}

#contact-section input {
  height: 44px;
}

#contact-section textarea {
  height: 90px;
  resize:none;
}

#contact-section .btn-primary {
  background-color: #373737;
  color: $header;
  border: none;
  font-size: 24px;
  padding: 6px 42px;
  margin-bottom: 110px;
  margin-top: 10px
}

#contact-section .btn-primary:hover {
  background-color: #212020;
  color: #fff
}



/*************************
******Footer CSS****
**************************/

#footer {
  background-color: #212121;
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
  color: #FFFFFF;
  font-size: 20px;
  //font-size: 15px;
  padding: 35px 0;
}

#footer a {
  color:darken($header, 15)
}

#footer a:hover {
  color: $header
}


//à ajouter dans responsive
@media screen and (max-width: 550px) {

}

@media screen and (max-width: 990px) {
  #explore h1.titre {
    font-size: 1em;
    margin-bottom: 0;
    left: 800px;
    position: relative;
  }

  .rowTeam{
    text-align: center;
    img{
      margin: auto;
    }
  }

  .player-container{
    padding-left: 0;
    padding-right: 0;
  }

  #galerie{
    padding: 4% 4% 7% 4%;
  }

  .img-thumbnail{
    display: block;
    margin: auto;
  }
}




