/* lg */ 
@media (min-width: 1200px) {
  
}

/* md */
@media (min-width: 992px) and (max-width: 1199px) {

  .navbar-right {
    padding: 0 30px 0 0;
  }

  .navbar-right li a {
    padding: 35px 15px;
  }

  .fixed-menu .container {
    width: 100%;
  }

  .fixed-menu .navbar-right {
    padding-right: 30px;
  }

  .fixed-menu .navbar-right li a {
    padding: 20px;
  }

  #event .col-md-9 {
    z-index: 10;
  }


}

/* sm */
@media (min-width: 768px) and (max-width: 991px) {

  .navbar-brand {
    width: 215px;
    height: 60px;
  }

  .navbar-right {
    padding: 0;
  }

  .navbar-right li a {
    padding:20px 11px;
    font-size: 17px;
  }

  .fixed-menu .container {
    width: 100%;
  }

  .fixed-menu .navbar-right {
    padding-right: 30px;
  }

  .fixed-menu .navbar-right li a {
    padding: 20px 15px;
    font-size: 17px;
  }

  .guitar, .old{
    display: none;
  }

}

/* xs */
@media (max-width: 767px) {

  .guitar, .old{
    display: none;
  }

  .main-nav .container {
    display: none;
  }
  
  .fixed-menu .container {
    display: block;
  }

   .fixed-menu .container {
    width: 100%;
  }

  .navbar-brand {
    width: inherit;
  }

  .fixed-menu .navbar-right li a {
    padding: 7px 25px;
  }

  #home {
    margin-top: 10%;
  }

  #explore {
    background-size:cover;
  }

  #explore h2 {
    float: inherit;
    font-size: 30px;
    margin-bottom: 30px;
  }

   /*event */
  .single-event {
    margin-bottom: 40px;
  }

  #footer {
    font-size: 16px;
  }

  .contact-section {
    background-position: left 0 bottom 0;
    background-size: cover;
  }

  .about-content {
    width: 100%;    
    padding: 70px 25px 110px;
  }

}

/* XS Portrait */
@media (max-width: 479px) {

  .player-wrap .playlist-wrap li, .player-wrap .playlist-wrap a[href]:link, .player-wrap .playlist-wrap a[href]:active, .player-wrap .playlist-wrap a[href]:visited {
    text-decoration: none;
    color: #434546;
    height: 40px;
  }

  .guitar, .old{
    display: none;
  }

  .main-nav .container {
    display: none;
  }

  .fixed-menu .container {
    display: block;
  }

  .fixed-menu .navbar-right li a {
    padding: 10px 25px;
  }

  /* Home */

  .fixed-menu .container {
    width: 100%;
  }

  .navbar-brand {
    width: inherit;
  }

  .carousel-indicators {
    bottom: 0;
  }

  /* Explore */
  #explore {
    background-size:cover;
  }

  #explore h2 {
    float: inherit;
    font-size: 30px;
    margin-bottom: 30px;
  }

    /*event */
  .single-event {
    margin-bottom: 40px;
  }

  #footer {
    font-size: 14px;
  }

  .contact-section {
    background-position: left 0 bottom 0;
    background-size: cover;
  }

}

